<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <title>HTML</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="estilo.css">
  <style type="text/css">
  	 .titulo{
        text-align: center;
        background-color: lightblue;
        border-style: solid;
        border-color:lightskyblue;
        border-radius: 0.5em;
        padding: 0.5em;
    }
  </style>
</head>

<body>
  <h1 class="titulo">Enhorabuena ya finalizaste todas las preguntas!</h1>
  
  <p><a  th:href="@{/resultados}" class="nav-link active" aria-current="page">Comprobar resultado</a>
</body>
</html>